@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,400;0,700;0,900;1,100&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .btn {
        @apply w-32 p-2 border-2 border-white bg-indigo-500 text-appblck rounded-xl active:bg-appstone mt-4 cursor-pointer
    }
    .btn-hover {
        @apply hover:bg-indigo-800 hover:text-white
    }
    .btn-active {
        @apply w-32 p-2 border-2 border-appstone bg-appstone  text-white rounded-xl
    }
    .li {
        @apply list-none
    }
    .app {
        @apply flex justify-center items-center min-h-screen py-4 px-2
    }
    .form {
        @apply flex flex-col justify-evenly flex-grow pb-4
    }
    .label {
        @apply mt-4 leading-9
    }
    .errMsg {
        @apply pt-2 pb-4 mb-6 font-semibold text-2xl text-appred bg-stone-900 rounded text-center
    }
    .offscreen {
        @apply absolute -left-96
    }
    .input {
        @apply p-1 rounded-lg
    }
    .valid {
        @apply ml-1 text-green-600
    }
    .invalid {
        @apply ml-1 text-appred
    }
    .instructions {
        @apply text-sm rounded-lg bg-white p-1 relative top-2
    }
    .success {
        @apply px-2 pt-2 pb-4 mb-6 font-semibold text-2xl text-green-600 bg-white rounded-lg text-center
    }
    .disabled {
        @apply w-32 p-2 border-2 border-white bg-indigo-500 text-appblck rounded-xl opacity-50 mt-4 cursor-not-allowed
    }
}


/* ul,
li {
    list-style: none;
}
button:hover {
    background: rgba(76, 76, 76, 0.4);
}
.active-btn {
    background-color: rgba(150, 99, 99, 0.4);
}

/*
.log-icon {
    color: black;
    cursor: pointer;
}
 */
/* .active-left-nav {
    position: absolute;
    background: transparent;
    border-radius: 10px;
    border-left: rgb(255, 136, 0) solid 5px;
    padding-left: 6px;
} */

/* active-left-nav :hover ... */

/* .left-nav {
    color: pink;
}


.user ul p? { (header)
    margin-left: 30px;
}
 */

/*
.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 1rem 0.5rem;
}

section {
    width: 100%;
    max-width: 420px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1rem;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.4);
}

a,
a:visited {
    color: #fff;
}

input[type="text"],
input[type="password"],
input[type="email"],
button,
textarea {
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    padding: 0.25rem;
    border-radius: 0.5rem;
}

 */

/*

.offscreen {
    position: absolute;
    left: -9999px;
}


.errmsg {
    background-color: lightpink;
    color: firebrick;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.line {
    display: inline-block;
}

.flexGrow {
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.card {
    border: 2px solid orange;
    border-radius: 15px;
} */

/* .file-icon {
    position: relative;
}

#img-upload {
    opacity: 0;
    position: absolute;
    left: 20px;
} */

/* .spinner {
    animation: spin infinite 1.3s linear;

    /*You can increase or decrease the timer (5s) to 
     increase or decrease the speed of the spinner
} */

/* @keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
} */